html {
    font-size: 62.5%; 
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    color: #1A2B4A;
    background-color: #d2cdd0;
    margin: 0;
    padding: 1em;
    text-align: center;
}

h1, h2, h3, h4 {
    color: #028090;
    font-weight: bold;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.8rem; }

.destacado {
    background-color: rgba(212, 219, 116, 0.744);
}

a {
    color: #028090;
    text-decoration: underline;
}

a:hover {
    color: #E86114;
}

ul, ol {
    width: fit-content;
    margin: auto;
    text-align: left;
    padding-left: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    margin: 0 1em;
}
#header {
    background-color: #142844;
    padding: 2rem;
}

.header-container, 
.footer-container, 
.main-article-container, 
.main-aside-container {
    width: 70%;
    margin: auto;
    padding: 2em;
}

figcaption {
    font-style: italic;
    font-size: 1.4rem;
    color: #828090;
}

strong {
    font-weight: bold;
}

form {
    background-color: #ffffff;
    padding: 2em;
    width: 60%;
    margin: 1em auto;
    text-align: left;
}

input, textarea {
    margin-bottom: 1em;
    display: block;
    width: 100%;
}

